body {
    font-family: "Helvetica  Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #333;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

h1, h2, h3, h4, p {
    text-align: center;
    text-weight: 500;
}

a {
    color: white;
}

.gray-text {
    color: gray;
}

.thumbnail img:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.jumbo-text {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 30%;
    padding-left: 30%;
}

.social {
    padding-top: 10px;
}

.navbar-header {
    padding-left: 10%;
}

.navbar-right {
    padding-right: 10%;
}

.home {
    position: relative;
    min-height: 100vh;
    padding-top: 10%;
    padding-bottom: 10%;
    color: #fff;
    background-color: #1E88E5;
}

.portfolio {
    min-height: 100vh;
    padding-top: 10%;
    padding-bottom: 10%;
}

.contact {
    min-height: 90vh;
    padding-top: 10%;
    padding-bottom: 50px;
}

btn {
    display: inline-block;
    color: #000;
    border: 2px outset rgba(0, 0, 0, 0.9);
    background: #C0C0C0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 20);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    transition: 0.2s;
}

.btn:hover {
    color: #fff;
    border: 2px outset rgba(0, 0, 0, 0.9);
    background: rgba(0, 0, 0, 0.9);
    transform: scale(1.1);
    transition: 0.2s;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 20);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}

footer {
    min-height: 10vh;
    padding-top: 40px;
    padding-bottom: 10px;
    color: gray;
    background-color: black;
}

.custom {
    width: 261px !important;
    margin: auto;
}

.super-custom {
    color: black;
}
