/* Coolors Exported Palette - coolors.co/da2c38-61d7ae-0f7173-e7ecef-00487c */

/* HSL */
$color1: hsla(356%, 70%, 51%, 1);
$color2: hsla(159%, 60%, 61%, 1);
$color3: hsla(181%, 77%, 25%, 1);
$color4: hsla(203%, 20%, 92%, 1);
$color5: hsla(205%, 100%, 24%, 1);

/* RGB */
$color1: rgba(218, 44, 56, 1);
$color2: rgba(97, 215, 174, 1);
$color3: rgba(15, 113, 115, 1);
$color4: rgba(231, 236, 239, 1);
$color5: rgba(0, 72, 124, 1);